


<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="shared/_layout::header"></head>


<body>


<!-- Side nav -->
<div th:replace="shared/_layout::sidenav"></div>

<!-- Main content -->
<div class="main-content" id="panel">
    <div th:replace="shared/_layout::topnav"></div>

    <br>
    <div class="container ">
        Name: <span th:text="${product.name}"></span>
        Price: <span th:text="${product.name}"></span>
        Categories:
        <div th:switch="${product.Categories}">
            <h2 th:case="null">No products yet!</h2>
            <div th:case="*">
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${product.Categories}">
                        <td th:text="${product.name}"></td>
                        <td>
                            <a class="btn btn-success btn-sm" th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a> |
                            <a class="btn btn-info btn-sm" th:href="@{/products/details/{id}(id=${product.id})}">Details</a> |
                            <a  class="btn btn-danger btn-sm" th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Argon Scripts -->
<head th:replace="shared/_layout::scripts"></head>

</body>

</html>


