


<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="shared/_layout::header"></head>


<body>


<!-- Side nav -->
<div th:replace="shared/_layout::sidenav"></div>

<!-- Main content -->
<div class="main-content" id="panel">
    <div th:replace="shared/_layout::topnav"></div>

    <br>
    <div class="container ">
        <form action="#" th:action="@{/products/save}" th:object="${product}" method="post">
            <span th:if="${product.id != null}">
                    <input hidden type="text" th:field="*{id}" id="id" placeholder="id">
            </span>
            <div class="p-4 bg-secondary">
                <label th:text="#{product.nameEn}" for="nameEn"></label>
                <input type="text" class="form-control form-control-alternative" th:field="*{nameEn}" id="nameEn" th:placeholder="#{product.nameEn}">
                <span th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}"></span>
            </div>
            <div class="p-4 bg-secondary">
                <label th:text="#{product.nameAr}" for="nameAr"></label>
                <input type="text" class="form-control form-control-alternative" th:field="*{nameAr}" id="nameAr" th:placeholder="#{product.nameAr}">
                <span th:if="${#fields.hasErrors('nameAr')}" th:errors="*{nameAr}"></span>
            </div>
            <div class="p-4 bg-secondary">
                <label th:text="#{product.description}" for="description"></label>
                <input type="text" class="form-control form-control-alternative" th:field="*{description}" id="description" th:placeholder="#{product.description}">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>

            <div class="p-4 bg-secondary">
                <label th:text="#{product.price}" for="price"></label>
                    <input type="text" class="form-control form-control-alternative" th:field="*{price}" id="price" th:placeholder="#{product.price}">
                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            </div>



            <div class="p-4 bg-secondary">
                <label th:text="#{product.stock}" for="stock"></label>
                <input type="text" class="form-control form-control-alternative" th:field="*{stock}" id="stock" th:placeholder="#{product.stock}">
                <span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></span>
            </div>


            <div class="p-4 bg-secondary">
                <span th:if="${product.id != null}">
                    <input type="submit" class="btn btn-sm btn-primary" value="Edit">
                </span>
                <span th:if="${product.id == null}">
                    <input type="submit" class="btn btn-sm btn-primary" th:value="#{create}" value="Create">
                </span>

            </div>
        </form>


    </div>
</div>

<!-- Argon Scripts -->
<head th:replace="shared/_layout::scripts"></head>

</body>

</html>


